.textcenter {
    text-align: center;
    color: white;
    font-size: 40px;
  }
  
  .bg-red {
    background: deepskyblue;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  .flex {
    display: flex; 
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }